.page {
  position: relative;
  max-width: 960px;
  width: 60%;
  margin: 0 auto;
  padding-top: $header-height;

  @include blur;
}

@import "_single";
@import "_special";
@import "_archive";
@import "_home";
@import "_taxonomy";
