html {
  /* Screen version */
  font-family: "LXGW WenKai Screen", sans-serif !important;
}

.post-preview{
    max-width:680px;
    height:200px;
    margin:1em auto;
    position:relative;
    display:flex;
    background:#fff;
    border-radius:6px;
    box-shadow:0 1px 2px rgba(0,0,0,.3),0 0 1px rgba(0,0,0,.3);
}
.post-preview--meta{
    width:78%;
    padding:25px;
    overflow:hidden;
}
.post-preview--middle {
    line-height:30px;
}
.post-preview--title {
    font-size:18px;
    margin:0!important;
}
.post-preview--title a{
    text-decoration:none;
}
.post-preview--date{
    font-size:14px;
    color:#999;
}
.post-preview--excerpt{
    font-size:14px;
    line-height:1.825;
}
.post-preview--excerpt p{display: inline;margin: 0;}.post-preview--image {object-fit:cover;height:auto;width:22%;float:right;}.post-preview--image {border-top-right-radius: 8px!important;border-bottom-right-radius:8px!important;border-top-left-radius:0!important;border-bottom-left-radius:0!important;}
@media (max-width:550px) {.post-preview {width:95%;height:120px;}.post-preview--meta{padding:15px;}.post-preview--image{height:120px!important;}.post-preview--excerpt{display:none;}.post-preview--middle {line-height:19px;}}.dark .post-preview{background: #3b3d42;}