<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := cond .IsHome .Site.Title (printf "%s - %s" .Title .Site.Title) -}}
<title>{{ $title }}</title>
{{- $desc := .Description | default (.Summary | plainify | truncate 160) | default .Site.Params.description -}}
{{- with $desc }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
{{- with .OutputFormats.Get "ATOM" }}<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">{{ end }}
{{- with .OutputFormats.Get "JSON" }}<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }} search index">{{ end }}
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with $desc }}<meta property="og:description" content="{{ . }}">{{ end }}
{{- with .Params.featuredImage }}<meta property="og:image" content="{{ . | absURL }}">{{ end }}
<link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css"></noscript>
{{- $css := resources.Get "css/main.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- $syntax := resources.Get "css/syntax.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $syntax.RelPermalink }}" integrity="{{ $syntax.Data.Integrity }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
