{{- $id := printf "footprintmap-%d" (now.UnixNano) -}}
{{- $height := .Get "height" | default "620px" -}}
{{- $data := .Get "data" | default "/data/footprints.json" -}}
{{- if and (not (hasPrefix $data "http")) (not (hasPrefix $data "//")) -}}
  {{- $data = relURL $data -}}
{{- end -}}
{{- $key := .Get "key" | default .Site.Params.amapKey -}}

<div id="{{ $id }}" class="footprint-map" data-json="{{ $data }}" data-amap-key="{{ $key }}" style="height: {{ $height }};">
  <div class="footprint-map__loading">正在加载足迹...</div>
  {{- if not $key -}}
    <div class="footprint-map__error">请在 <code>params.amapKey</code> 配置高德 Web JS API Key，或通过 <code>key</code> 覆盖。</div>
  {{- end -}}
</div>
{{ if not (.Page.Scratch.Get "footprint_css_loaded") }}
  <link rel="stylesheet" href="{{ "css/footprintmap.css" | relURL }}">
  {{ .Page.Scratch.Set "footprint_css_loaded" true }}
{{ end }}
{{- if not (.Page.Scratch.Get "footprintmap-script") -}}
  {{- .Page.Scratch.Set "footprintmap-script" true -}}
  <script src="{{ "/js/footprintmap.js" | relURL }}" defer></script>
{{- end -}}